.background {
  background-color: var(--color-primary-1);
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 80vw;
  margin: auto;
}

.loading {
  height: 82vh;
  display: grid;
  place-items: center;
}

.blank {
  height: 50px;
}
