body {
  background-color: var(--color-primary-1);
}

.backgroundFlag {
  height: 55vh;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.backgroundFlag img {
  width: 90vw;
  filter: blur(4px);
  opacity: 0.8;
}

.foregroundFlag {
  position: absolute;
  z-index: 99;
  margin-top: -100px;
  /* margin-left: 120px; */
  background-color: whitesmoke;
  border: 3px solid #e3e8eb;
  border-radius: 7px;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.192);
}

.foregroundFlag img {
  height: 190px;
  width: 320px;
}

.countryWrapper {
  width: 82%;
  margin-inline: auto;
}

.countryInfo {
  margin-top: 130px;
  line-height: 22px;
  color: var(--color-primary-text);
  font-size: 1.1rem;
}

.countryName {
  color: var(--color-primary-text-2);
  font-size: 2.5rem;
  text-align: center;
  line-height: 35px;
}

.countryHr {
  margin: 20px auto;
  width: 200px;
  color: var(--color-primary-1);
}

.ul {
  margin: 7px;
  margin-left: 30px;
  font-size: 1rem;
}

.countryData {
  border: 1px solid #1778ac;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.185);
  border-radius: 6px;
  list-style-type: none;
  margin: 20px 0;
  width: 480px;
  margin: 20px auto;
}

.noData {
  height: 85vh;
  display: grid;
  place-content: center;
}

.noData img {
  height: 60vh;
}

.backHome {
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 8px;
  border-radius: 50%;
  background-color: #1778ac;
  box-shadow: 2px 3px 18px rgb(0 0 0 / 30%);
  cursor: pointer;
}
.homeIcon {
  font-size: 40px;
  color: var(--color-primary-1);
}
.backHome:hover {
  bottom: 42px;
}

@media screen and (max-width: 800px) {
  .countryData {
    border: 1px solid #1778ac;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.185);
    border-radius: 6px;
    list-style-type: none;
    margin: 20px 0;
    width: 310px;
    margin: 20px auto;
  }
  .backgroundFlag {
    display: none;
  }
  .countryWrapper {
    width: 88%;
    margin-inline: auto;
  }
  .backHome {
    position: fixed;
    bottom: 30px;
    right: 20px;
    padding: 8px;
    border-radius: 50%;
    background-color: #1778ac;
    box-shadow: 2px 3px 18px rgb(0 0 0 / 30%);
    cursor: pointer;
  }

  /* fixing the foreground flag */

  .foregroundFlag {
    background-color: whitesmoke;
    border: 3px solid #e3e8eb;
    border-radius: 7px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.192);
  }
  .countryInfo {
    /* margin-top: 230px;
    line-height: 22px; */
    color: #1e6d97;
    font-size: 1.1rem;
  }
}
