.navbar {
  height: 66px;
  display: grid;
  place-items: center;
  box-shadow: 2px 5px 22px rgb(0 0 0 / 80%);
  background-color: var(--color-primary-2);
}

.nav-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #348bb9;
}
