.countryCard {
  margin: 15px;
  border-radius: 14px;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.123);
  height: 328px;
  background-color: var(--color-primary-3);
  cursor: pointer;
}

.country-image {
  height: 190px;
  width: 320px;
  max-width: 320px;
  margin: 7px;
  border-radius: 7px;
}

.text-wrapper {
  margin: 10px;
  width: 300px;
  color: var(--color-primary-text-2);
  line-height: 22px;
}
