.countryCard {
  margin: 15px;
  border-radius: 14px;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.123);
  /* height: 342px; */
  padding-bottom: 7px;
  background-color: var(--color-primary-3);
  cursor: pointer;
  position: relative;
  border: 2px solid #4e5874;
  transition: 0.5s ease-out;
  overflow: visible;
}

.country-image {
  height: 190px;
  width: 320px;
  max-width: 320px;
  margin: 7px;
  border-radius: 7px;
}

.text-wrapper {
  margin: 10px;
  width: 300px;
  color: var(--color-primary-text-2);
  line-height: 22px;
}

.readMore {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #a4d3e6;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  text-align: center;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.countryCard:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.countryCard:hover .readMore {
  transform: translate(-50%, 50%);
  opacity: 1;
}

@media (max-width: 800px) {
  .countryCard .readMore {
    transform: translate(-50%, 50%);
    opacity: 1;
  }
}
